body {
    font-family: Courier New, Consolas, monospace;
    background-color: #F5F5F9;
}

h1 {
    font-size: 32px;
    margin: 28px 0;
    padding: 0 0 12px;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 23px;
    padding: 12px 0;
    font-variant: small-caps;
}

.page {
    width: 960px;
    margin: 0 auto;
}

.page .prompt {
    padding: 20px 0 16px;
    font-style: italic;
}

.page .loader {
    font-size: 14px;
}

.page .request-error {
    padding: 16px 0;
    font-size: 14px;
    font-style: italic;
}


/*-- Styles for login page --*/

.login input[type="text"] {
    height: 25px;
    margin: 0;
    padding: 0;
    border: 2px solid #000;
    border-radius: 3px;
    text-indent: 5px;
    font-family: Courier New, Consolas, monospace;
    width: 284px;
}

.login input[type="submit"] {
    border: 0;
    background-color: #000;
    border-radius: 3px;
    height: 29px;
    color: #FFF;
    font-family: Courier New, Consolas, monospace;
    outline: none;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    cursor: hand;
}

.login input[type="submit"]:active {
    background-color: #FFF;
    color: #000;
    border: 1px solid;
}


/*-- Styles for the profile page --*/

.profile .profile-picture {
    border: 2px solid #222;
}

.profile .profile-data {
    width: 500px;
    display: inline-block;
    float: right;
    clear: both;
}

/*
.profile .lower-half {
    margin-top: 20px;
    clear: both;
    border-top: 2px solid #444;
}
*/


/*-- Styles for the repository listing page --*/

.repositories ul {
    list-style: none;
}

.repositories ul li {
    border-bottom: 1px solid #CCC;
    padding: 10px 0;
}