@-webkit-keyframes pulse {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
    
}

@-moz-keyframes pulse {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
    
}

@-o-keyframes pulse {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
    
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    
    50% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
    
}

body {
    font-family: Courier New, Consolas, monospace;
    background-color: #F5F5F9;
/*    background-color: #6B6F71;*/
/*    color: rgb(250, 250, 249);*/
}

h1 {
    font-size: 32px;
    margin: 28px 0;
    padding: 0 0 12px;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 23px;
    padding: 12px 0;
    font-variant: small-caps;
}

a {
    text-decoration: none;
    color: #4944FF;
}

.page {
    width: 960px;
    margin: 0 auto;
}

.page .prompt {
    padding: 20px 0 16px;
    font-style: italic;
}

.page .loader {
    font-size: 14px;
    -webkit-animation: pulse 1s infinite;
    -moz-animation: pulse 1s infinite;
    -o-animation: pulse 1s infinite;
    animation: pulse 1s infinite;

}

.page .request-error {
    padding: 16px 0;
    font-size: 14px;
    font-style: italic;
}


/*-- Styles for login page --*/

.login input[type="text"] {
    height: 25px;
    margin: 0;
    padding: 0;
    border: 2px solid #000;
    border-radius: 3px;
    text-indent: 5px;
    font-family: Courier New, Consolas, monospace;
    width: 284px;
}

.login input[type="submit"] {
    border: 0;
    background-color: #000;
    border-radius: 3px;
    height: 29px;
    color: #FFF;
    font-family: Courier New, Consolas, monospace;
    outline: none;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    cursor: hand;
}

.login input[type="submit"]:active {
    background-color: #FFF;
    color: #000;
    border: 1px solid;
}


/*-- Styles for the profile page --*/

.profile .upper-half {
    margin-bottom: 28px;
}

.profile .profile-picture {
    border: 2px solid #2F2F2F;
    border-radius: 3px;
}

.profile .profile-data {
    width: 600px;
    display: inline-block;
    float: right;
    clear: both;
}

.profile .profile-data h2 {
    text-transform: uppercase;
    font-size: 26px;
}

.profile .profile-data h3 {
    font-variant: normal;
    font-size: 16px;
    padding: 10px 0 0;
    margin-bottom: 40px;
}

.profile .profile-data p {
    line-height: 22px;
    font-size: 14px;
}

.profile .profile-data .location {
    margin-bottom: 20px;
}

.profile .profile-data .email {
    margin-bottom: 38px;
}

.profile .profile-data .repo-count {
    display: inline-block;
}

.profile .profile-data .gist-count {
    display: inline-block;
    margin-left: 48px;
}

.profile .profile-data .repo-count a,
.profile .profile-data .gist-count span {
    font-size: 28px;
}

/*
.profile .lower-half {
    margin-top: 20px;
}
*/


/*-- Styles for the repository listing page --*/

.repositories h3 .octicon {
    margin-right: 16px;
    font-size: 32px;
}

.repositories h3 .username {
    text-transform: lowercase;
    font-variant: normal;
    font-size: 16px;
}

.repositories ul {
    margin-top: 20px;
    border-top: 1px solid #CCC;
}

.repositories ul li {
    border-bottom: 1px solid #CCC;
    padding: 16px 0 22px;
}

.repository-name {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    cursor: hand;
}

.repositories ul li .repository-stats {
    color: #999;
    float: right;
    font-size: 14px;
}

.repositories ul li .repository-stats .octicon{
    margin-right: 2px;
}

.repositories ul li .repository-description {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.5em;
}


/*-- Styles for the repository details page --*/

.repository h3.repo-title {
    font-size: 20px;
    font-variant: normal;
    border-bottom: 1px solid #CCC;
}

.repository h3.repo-title .octicon {
    font-size: 36px;
    margin-right: 12px;
}

.repository h3.repo-title .username {
    font-variant: normal;
    font-size: 18px;
    text-transform: lowercase;
}

.repository .description {
    padding: 20px 0 20px 0;
    font-size: 14px;
    color: #888;
    line-height: 20px;
    margin: 0 0 30px;
    border-bottom: 1px solid #E2E2E2;
}

.repository .language-stats {
    width: 19%;
    float: left;
}

.repository .language-stats h3 {
    font-variant: normal;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
    padding: 0 0 6px;
}

.repository .language-stats .language-stat {
    margin: 0 0 10px 0;
}

.repository .language-stats .language-stat .label {
    text-transform: uppercase;
    font-size: 13px;
    margin: 4px 0 4px;
    letter-spacing: 2px;
}

.repository .language-stats .language-stat .bar {
    height: 20px;
    background-color: #BBBBBB;
}

.repository .repo-stats {
    width: 79%;
    float: right;
}

.repository .repo-stats h3 {
    font-variant: normal;
    font-size: 18px;
    color: #333;
    border-bottom: 1px solid #333;
    margin-bottom: 18px;
    padding: 0 0 6px;
}