<div class="login">
<!--
    <form>
        <h2>Login</h2>
        <h3>Enter your Github credentials to authenticate</h3>
        <input type="text" class="username" placeholder="Username"/>
        <input type="password" class="username" placeholder="Password"/>
        <input type="submit" class="login" value="Login"/>
    </form>

    <hr />
-->

    <form ng-submit="FetchProfileData()">
        <h3>User Profile</h3>
        <p>Enter the username of the person who's profile you wish to view</p>
        <input type="text" placeholder="Username" ng-model="username" autofocus/>
        <input type="submit" value="View Profile"/>
    </form>
</div>