<div class="profile">
    <img src="{{profile_data.avatar_url}}" width="400" />
    
    <div class="profile-data">
        <h2>{{profile_data.name}}</h2>
        <h3>({{profile_data.login}})</h3>

        <p ng-if="profile_data.company != (null || undefined)">Company: {{profile_data.company}}</p>
        <p ng-if="profile_data.location != (null || undefined)">Location: {{profile_data.location}}</p>

        <hr>

        <p ng-if="profile_data.blog != (null || undefined)">Blog: <a href="{{profile_data.blog}}">{{profile_data.blog}}</a></p>
        <p ng-if="profile_data.email != (null || undefined)">Email: <a href="mailto:{{profile_data.email}}">{{profile_data.email}}</a></p>

        <hr>

        <p ng-if="profile_data.public_repos != (null || undefined)">Public Repos: {{profile_data.public_repos}}</p>
        <p ng-if="profile_data.public_gists != (null || undefined)">Public Gists: {{profile_data.public_gists}}</p>
    </div>
</div>
