<div class="repositories">
   
    <h2>Repositories</h2>
    
    <ul>
        <li ng-repeat="repository in repository_list">
            <a class="repository-name" href="">{{repository.name}}</a>
            <p class="repository-stats">
                <span class="stargazers">Stargazers: {{repository.stargazers-count}}</span>
                <span class="watchers">Watchers: {{repository.watchers-count}}</span>
                <span class="forks">Forks: {{repository.forks-count}}</span>
<!--                <span class="language">Language: {{repository.language}}</span>-->
            </p>
            <p class="repository-description">{{repository.description}}</p>
        </li>
    </ul>
</div>
