<div class="repositories">
   
    <h3>
        <span class="octicon octicon-repo"></span>Repositories <span class="username">({{username}})</span>
    </h3>
    
    <ul>
        <li ng-repeat="repository in repository_list">
            <a class="repository-name" ng-click="OpenRepostoryDetails(repository.name)">{{repository.name}}</a>
            
            <span class="repository-stats">
                <span class="language">{{repository.language}}</span>
                
                <span class="stargazers">
                    <span class="octicon octicon-star"></span>{{repository.stargazers-count}}
                </span>
                
                <span class="watchers">
                    <span class="octicon octicon-eye-watch"></span>{{repository.watchers-count}}
                </span>
                
                <span class="forks">
                    <span class="octicon octicon-repo-forked"></span>{{repository.forks-count}}
                </span>
            </span>
            
            <p class="repository-description">{{repository.description}}</p>
        </li>
    </ul>
    
    <ul class="pagination">
        <li ng-repeat="y in pageCount(pages) track by $index">
            <a ng-click="changePage($index+1)">{{$index+1}}</a>
            <!-- page 1 prints last list, page two the first list and page 9 the 8th list. find out what is track by $index. Pages keep cycling. Maybe I need to edit the page count. Maybe start it from 0. -->
        </li>
    </ul>
</div>
