<div class="repository">
   
    <h3 class="repo-title">
        <span class="octicon octicon-repo"></span>{{repository_name}} - <span class="username">({{username}})</span>
    </h3>
    
    <p class="description">{{repo_info.description}}</p>
    
    <div class="language-stats">
        
        <h3>Languages</h3>
        
        <div class="language-stat" ng-repeat="(language, value) in language_percentages track by $index" title="{{language}} - {{value | number:2}}%">
            <p class="label">{{language}}</p>
            <p class="bar" style="width: {{value}}%"></p>
        </div>
        
    </div>
    
    <div class="repo-stats">
        
        <h3>Stats</h3>
        
        <div class="stat-container">
            <p>Subscribers - {{repo_info.subscribers_count}}</p>
            <p>Watchers - {{repo_info.watchers_count}}</p>
            <p>Open Issues - {{repo_info.open_issues_count}}</p>
        </div>
        
    </div>
    
    <div class="repo-commits">
        
        <h3>Commits</h3>
        
        <div class="commits">
            <span ng-repeat="commits in commits_weekly track by $index" style="height: {{commits}}%;" title="{{commits}} commits"></span>
        </div>
        
        <div class="timeline" ng-if="timeline_start">
            <span class="start">{{timeline_start * 1000 | date:'MMM yyyy'}}</span>
            <span class="end">{{timeline_end * 1000 | date:'MMM yyyy'}}</span>
        </div>
        
    </div>

<!-- Maybe show Primary language.   -->
<!-- Add languages as a graph or pie chart maybe.   -->
<!-- Network count - Number of forks   -->
<!-- Stargazers   -->
<!-- Watchers and subscriber count  -->
<!-- Maybe try fetching the readme and printing it below the stats. Might have to use the content path   -->
<!-- Show the Fork icon in big if it has been forked from someone else's repo. Check if 'fork' is true.   -->
    
</div>
